.hero__container,
.foreground {
	height: 100vw;
	@media screen and (min-width: 720px) {
		height: 100vh;
	}
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(1);
}

.hero__container {
	position: relative;
	padding: 20px;
	@media screen and (min-width: 720px) {
		padding: 0;
	}
	.todo {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0.6;
	}
	.foreground {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
	}
	.hero-content__wrapper {
		@media screen and (min-width: 720px) {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, -50%);
			height: 45vh;
		}
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hero-content {
		color: white;

		h1 {
			font-size: 43px;
			@media screen and (min-width: 720px) {
				font-size: 65px;
			}
		}
	}
}
