.content__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, 99vw);
	@media screen and (min-width: 1024px) {
		grid-template-columns: repeat(auto-fit, 49vw);
	}
	// grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	max-width: 99vw;
	margin: 0 auto;
	// Do you work in IE?
	grid-auto-rows: 1fr;
	.content--wrapper {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		@media (min-width: 768px) {
			padding: 60px 0 60px 60px;
		}

		.content {
			max-width: 100%;
			@media screen and (min-width: 1024px) {
				max-width: 50%;
			}
		}
	}
}
